<section class="welcome">
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p class="welcome_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nostrum quaerat? Fugit adipisci voluptatum nisi porro nostrum ipsa neque, eius exercitationem sint odit reprehenderit inventore dolorem sed dolorum corporis id cupiditate recusandae provident nulla placeat cumque ernatur est harum? Quia cumque suscipit rem quas voluptatibus.</p>
</section>

<main class="main">
  
    <div class="guide" id="visualize">
      <div class="img_container">
        <img src="https://image.freepik.com/vecteurs-libre/centre-donnees-medias-sociaux-statistiques-smm-etude-marketing-numerique-analyse-tendances-du-marche-expert-feminin-etudiant-resultats-enquete-ligne_335657-2392.jpg" alt="">
      </div>
      <div class="guide_text">
        <h4>Visualisez les résultats en temps réel</h4>
        <p>Vous pouvez, en tant qu’électeurs, voter en ligne avec tous les appareils pouvant accéder à internet ( Smartphone, Ordinateur portable ou PC). Votre secret de vote sera préservé grâce aux hauts standards de sécurité de POLYAS et il s’ensuit un décomptage anonyme de votre voix. L’architecture du système de vote de POLYAS fait une stricte séparation entre les données personnelles et le bulletin de vote électronique dans les urnes. Il est ainsi impossible de tirer une conclusion de votre intention de vote.</p>
        <button class="btn" routerLink="visualize" >Visualiser maintenant</button>
      </div>
    </div>
    
      <div class="steps">
        <h4>Votez en 4 étapes</h4>
        <br>
        <div class="container">
          <div class="vote_step">
            <img src="https://as1.ftcdn.net/v2/jpg/03/14/88/46/1000_F_314884626_mzK4InYuhepih2BLn3o7KvTzHJKqVKW7.jpg" alt="">
            <h3>1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure!</p>
          </div>
          <div class="vote_step">
            <img src="https://image.freepik.com/vecteurs-libre/centre-donnees-medias-sociaux-statistiques-smm-etude-marketing-numerique-analyse-tendances-du-marche-expert-feminin-etudiant-resultats-enquete-ligne_335657-2392.jpg" alt="">
            <h3>2</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure</p>
          </div>
          <div class="vote_step">
            <img src="https://image.freepik.com/vecteurs-libre/employes-bureau-analysant-recherchant-donnees-commerciales_74855-4445.jpg" alt="">
            <h3>3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure</p>
          </div>
          <div class="vote_step">
            <img src="https://image.freepik.com/vecteurs-libre/campagne-electorale-referendaire_74855-6386.jpg" alt="">
            <h3>4</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure</p>
          </div>
        </div>
      </div> 
    
      <div class="guide">
        <div class="img_container">
          <img src="https://image.freepik.com/vecteurs-libre/journee-internationale-democratie_23-2148608691.jpg" alt="">
        </div>
        <div class="guide_text">
          <h4>Informer en ligne et voter</h4>
          <p>L’invitation au vote ainsi que l’envoi des données de connexion de passent aussi en ligne. Vous recevez toutes les informations relevantes sur les candidats, les dates, ainsi que votre droit de vote par E-Mail. De cette façon, les documents du vote ne peuvent plus (enfin , presque) être perdus et vous pouvez librement déterminer en ligne la date du vote.</p>
          <button class="btn">Voter maintenant</button>
        </div>
      </div>
</main>

