/* You can add global styles to this file, and also import other style files */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root 
{
  --green: #2ecc71;
  --white: #ffffff;
  --black: #000000;
  --secondary-black: #0e2332;
}

body 
{
  background-color: rgba(var(--white), 0.6);
  
}